{%extends 'base.html'%}
{% block content %}
<div class="container" style="text-align : center; color:beige;margin-top:40px;">
  <div class="row">
  {% for review in reviews %}
   <p> {{review.user}} gave remark: {{review.design}} on This projects Design  and  </p> <br><br>
    <p> remark: {{review.usability}} on This projects Usability</p><br>
    <p> They also remerked:{{review.content}}</p>
  {%endfor%}
  <a  class="btn btn-outline-success"style="padding:20px;margin-top:40px;margin-right:15%;"href="{% url 'welcome'%}" > Back </a>

{%endblock%}